body {
	
	margin: 0;
	padding: 0;
	color: #222a3f;
	font-size: 20px;
	line-height: 1.4em; 
	background-color: #4287f5; 
	background-position: top;
}


#sidebar {

	position: sticky;
	top: 0;
	font-size: 18px;
	background-color: #4287f5;
	float: center; 
	padding: 5px 50px 2px 40px;
}

hr{
    width:87%;
   
}

table, th{
	border-right:0.5px dotted rgb(226, 224, 223);
	border-collapse: collapse;
	height:50px;
	width:1250px;
	text-align: center;
	
  }

  a{
	font-size: 18px;
	color: white;

  }

  h2{
    text-align: center;
  }

  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
   
  }

  .ff{
	  color:white;
  }

  .bb{
	  background-color: #4287f5;
  }

  
  